<html>
    <head>
        <title>Cart</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
    </head>
    
    <body>
        <%
        var items = items;
        var total = 0;
        %>
        <form class="form-horizontal" role="form" method="post" id="myForm" action="">
            
            <div class="container">
                <center><h1>Cart</h1></center>
                <br/>
                <% items.forEach(function(item) { %>

                    <li class="list-group-item clearfix">
                            <div class="col-xs-4" style="margin-top:7px">
                                <strong><%= item.itemName %></strong><br/>
                                
                            </div>
                            <div class="col-xs-1" style="margin-top:7px">
                                    <strong>Price:<%= item.price %></strong><br/>
                                </div>
                            <div class="col-xs-1 text-right" style="margin-top:7px">
                                <span class="badge">Quantity:<%= item.quantity %> </span>
                            </div>
                            <div class="col-xs-1 text-right" style="margin-top:7px">
                                    <span class="badge">Subtotal :<%= (item.quantity)*(item.price) %> </span>
                            </div>
                            
                            <div class="col-xs-3 text-right">
                                <a href="/cart/remove/<%= item.itemId %>" class="btn btn-default"></i> Remove</a>
                            </div>
                    </li>
                <% }); %>
                <% items.forEach(function(item) { %>
                    <% total = total + (item.quantity)*(item.price)  %>
                <% }); %>

            </div>
            <br/>
            <br/>
            <% if(items.length > 0) { %>
                <div class ="row">
                    <div class="col-md-1 col-md-offset-6">
                        <div class="badge">Total :<%= total %> </div>
                    </div>
                    <div class="col-md-1">
                        <a href="/cart/checkout/<%= total %>" class="btn btn-default"></i> Checkout</a>
                    </div>
                </div>
            <% }else { %>
                <div style="color:red">
                    <center><h3> Your Cart Is Empty </h3></center>
                </div>
            <% } %>
        </form>
    </body>
</html>
