<!DOCTYPE html>
<html>
  <head>
    <title>Ashish</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%
      var items = items;
      var items2=items2;
      %>
    
     
        <h1>
          ItemId : <%= items.itemId  %> <br/>
          Price :<%= items.price  %> <br/>
          Quantity :<%= items.quantity  %> <br/>
          Name :<%= items.name  %> <br/>
          CartId :<%= items.cartId  %> <br/>
        </h1>
        
  </body>
</html>
